[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
keras = "*"
tensorflow = "*"
numba = "*"
zenml = "*"
librosa = "*"

[requires]
python_version = "3.8.10"

[dev-packages]
